{% load staticfiles %}
<html>
		<head>
				<title>8000 Django Girls blog example</title>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		</head>
		<body>
<div>
    <h1><a href="/">Django Girls Blog Header</a></h1>
</div>

<div style="border:1px solid #cecece">
        {% for post in posts %}
            <div style="margin:0 0 10px 0">
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
</div>

		</body>
</html>